.acerca {
  background-color: #E5F0F6;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  overflow-x: clip;
  /* o hidden si necesitas más compatibilidad */

  &::before {
    content: url("https://9068661.fs1.hubspotusercontent-na1.net/hubfs/9068661/assets/img/before.png");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* esto asegura que ocupa el ancho del contenedor */
    height: 7px;
    /* tu altura */
  }

  .items {
    .item {
      padding: 20px;

      .c-block {
        border: 2px solid #004FEF;
        border-radius: 15px;
        padding: 15px;
        padding-left: 25px;
        position: relative;

        .icon {
          position: absolute;
          background: #FF9B4E;
          background: linear-gradient(129deg, rgba(255, 155, 78, 1) 0%, rgba(255, 111, 0, 1) 100%);
          border-radius: 50%;
          width: 80px;
          height: 80px;
          border: 9px solid #E5F0F6;
          margin-left: -60px;
          margin-top: -40px;
          padding: 15px;

          display: flex;
          justify-content: center;
          align-items: center; 
        }

        h3 {
          color: #00287A;
          font-family: 'IBMPlexSans-BoldItalic';
          font-size: 1.1rem;
          position: relative;
          padding-left: 15px;

          span {
            display: block;
            font-family: 'IBMPlexSans-Regular';
          }

        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .acerca {}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}