.beneficios {
  background-color: #e0f2ff;
  padding-top: 70px;
  padding-bottom: 70px;

  .c-blocks {
    margin-top: 50px;
    .c-block-cont {
      padding: 30px;
      // display: flex;
      // flex-direction: column;
      .c-block {
        .c-body {
          background-color: #fff;
          padding: 20px 30px 95px;
          border-radius: 15px;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
          z-index: 1;
          position: relative;
          .img {
            margin-top: -90px;
            margin-bottom: 20px;
            img {
              max-height: 140px;
            }
          }
        }
        p {
          color: #00287a;
          font-family: "IBMPlexSans-Regular";
          font-size: 1.2rem;
          span {
            color: #004fef;
          }
        }
        &.c-block-1 {
          &::before {
            content: "";
            position: absolute;
            width: 80px;
            height: 120px;
            background-color: #f1c405; /* Color de ejemplo */
            //z-index: -1; /* Coloca los pseudo-elementos detrás del .c-block */
            top: 0;
            left: 0;
            margin-top: -20px;
            margin-left: -20px;
            border-radius: 25px 0px 0px 0px;
            transition: 0.3s;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: #38b6ff; /* Color de ejemplo */
            //z-index: -1; /* Coloca los pseudo-elementos detrás del .c-block */

            bottom: 0;
            right: 0;
            margin-bottom: -20px;
            margin-right: -20px;
            border-radius: 0px 0px 25px 0px;
            transition: 0.3s;
          }
          &:hover {
            &::before {
              width: 110px;
              height: 150px;
            }
            &::after {
              width: 140px;
              height: 140px;
            }
          }
        }
        &.c-block-2 {
          &::after {
            content: "";
            position: absolute;
            width: 80px;
            height: 150px;
            background-color: #004fef; /* Color de ejemplo */
            //z-index: -1; /* Coloca los pseudo-elementos detrás del .c-block */

            top: 0;
            right: 0;
            margin-top: -20px;
            margin-right: -20px;
            border-radius: 0px 25px 0px 0px;
            transition: 0.3s;
          }
          .c-body {
            padding: 30px 30px 20px;
          }
          &:hover {
            &::after {
              width: 110px;
              height: 190px;
            }
          }
        }
      }

      .c-block {
        position: relative; /* Necesario para que los pseudo-elementos se posicionen en relación con este div */
      }
    }
  }

  h2 {
    font-family: "IBMPlexSans-Bold";
    text-transform: uppercase;
    color: #004fef;
  }
  .c-blocks-nros {
    .c-block-cont {
      padding: 30px 50px;
      .c-block {
        padding: 30px;
        background-color: #fff;
        border-radius: 15px;
        .nro {
          background-color: #004fef;
          width: fit-content;
          width: 55px;
          height: 55px;
          padding-top: 5px;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          margin-left: -50px;
          margin-top: -50px;
          h3 {
            font-family: "IBMPlexSans-Bold";
            color: #fff;
            font-size: 2rem;
          }
        }
        .text-end {
          float: right;
          .nro {
            margin-left: inherit;
            
          }
        }
      }
    }
  }

  h3{
    font-family: 'IBMPlexSans-Medium';  
    color: #00287A;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
