.cta-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E5F0F6;

    h5 {
        color: #004FEF;
        font-family: 'IBMPlexSans-BoldItalic';
    }
}

.cta-2 {
    background-color: #00287A;
    padding-top: 50px;

    .txt {
        padding-bottom: 50px;

        h2 {
            color: #FFF;
            font-size: 1.5rem;
        }

        a {
            img {
                max-height: 48px;
            }
        }

        .globo {
            img {
                display: inline-block;
                /* para que el transform no afecte raro */
                animation: floatY 3s ease-in-out infinite;
                will-change: transform;
            }
        }
    }
}

@keyframes floatY {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    /* sube 20px (flota) */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* el contenedor donde debe “anclarse” la imagen */
    .cta-1 {
        position: relative;
        overflow: hidden;
        /* opcional: oculta lo que se salga del bloque */

        .titulo-3 {
            span{
                font-size: 1rem;
            }
        }
        h5{
            font-size: 1rem;
            margin-bottom: 20px;
        }
    }

    /* la columna de la imagen (solo en mobile según tu d-md-none) */
    .cta-1 .col-6.d-block.d-md-none {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
        /* para que no fuerce 50% */
        padding: 0;
        /* opcional */
    }

    /* la imagen */
    .cta-1 .col-6.d-block.d-md-none img {
        display: block;
        max-width: 220px;
        /* ajusta tamaño */
        height: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}