.banner-cta-1 {
    background-color: $COLOR_3;
    position: relative;
    padding-top: 10px;
    padding-bottom: 15px;

    .img-b {
        margin-top: 5px;
    }

    .img {
        padding-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            // position: absolute;
            // bottom: 0;
            max-width: 90px;
        }
    }

    .txt {
        padding-top: 20px;
        // padding-left: 50px;
    }

    h2 {
        color: #FFF;
        font-family: 'IBMPlexSans-SemiBold';
        font-size: 1.5rem;

        .c_small {
            font-family: 'IBMPlexSans-Regular';
            font-size: 1rem;
            display: inline-table;
            margin-top: 10px;
            display: grid;
        }

        .efecto {
            font-size: 2rem;
            background-color: $COLOR_3;
            font-family: 'IBMPlexSans-SemiBoldItalic';
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 7px;
            color: #FFF;
        }

        .img-ingles {
            img {
                max-width: 90px;
            }
        }
    }
}

.banner-cta-2 {
    background-image: url('../img/bg-cta-2.png');
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
        color: #FFF;
        font-family: 'IBMPlexSans-SemiBold';
        font-size: 1.4rem;
    }

    h4 {
        color: #FFF;
        font-family: 'IBMPlexSans-Regular';
        font-size: 1.1rem;
    }

    h5 {
        color: #FFF;
        font-family: 'IBMPlexSans-MediumItalic';
        font-size: .9rem;
    }

    .img-2 {
        max-width: 90px;
    }
}


.banner-cta-3 {
    background: rgb(233, 48, 67);
    background: linear-gradient(0deg, rgba(233, 48, 67, 1) 0%, rgba(255, 73, 92, 1) 100%);
    text-align: center;
    padding: 15px;

    h3 {
        font-family: 'IBMPlexSans-Regular';

        font-size: 1.3rem;
        color: #FFF;
        margin-bottom: 0px;
    }
}

.banner-cta-4 {
    background-image: url('../img/bg-cta-4.png');
    background-size: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    .txt-1{
        padding-left: 60px;
    }
    .txt-2{
        padding-left: 50px;
        padding-right: 60px;
    }
    h3{
        font-family: 'IBMPlexSans-Medium';  
        color: #FFF;
        font-size: 1.2rem;
        margin-bottom: 0px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-cta-1 {
        padding-bottom: 30px;

        h2 {
            text-align: center;
        }
    }

    .banner-cta-4{
        background-image: none;
        background-color: $COLOR_3;
        text-align: center;
        .txt-1{
            padding-left: 0px;
            margin-bottom: 15px;
        }
    }

    .banner-cta-2 {
        background-image: none;

        .block-1 {
            padding: 20px 25px;
            background-color: $COLOR_1;

            img {
                margin-bottom: 20px;
            }
        }

        .block-2 {
            padding: 20px 25px;
            background-color: $COLOR_3;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .banner-cta-2 {
        img {
            max-height: 50px;
        }
    }

    

    
    
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .banner-cta-4{
        background-image: none;
        background-color: $COLOR_3;
        text-align: center;
    }

    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .banner-cta-2 {
        background-image: url('../img/bg-cta-2.png');
    }

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .banner-cta-2 {
        img {
            max-height: 70px;
        }
    }

    .banner-cta-1 {
        .txt {
            h2 {
                .efecto {
                    &::after {
                        content: url('../img/after-4.png');
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                        transform: scale(0.85);
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}