.cta-3 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #E5F0F6;
}
.cta-3 h5 {
  color: #004FEF;
  font-family: "IBMPlexSans-BoldItalic";
  font-size: 16px;
}
.cta-3 h2 span {
  font-size: 18px;
}
@media (max-width: 768px) {
    .cta-1 {
        padding-top: 30px;
        padding-bottom: 0px;  
    }
}

@media (max-width: 768px) {
    .cta-3 {
      padding-right:0%
    }
}
